/* RESET THE DOCUMENT */
    * {
        padding: 0px;
        margin: 0px;
        scroll-behavior: smooth;
        color: white;
        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
    }

/* SCROLLBAR */
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
    ::-webkit-scrollbar-track {
        background: #333;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #bbb;
    }

/* LINKS */
    a {
        color: #78B354;
    }
    a:visited {
        color: #458021;
    }

/* BUTTONS */
    button {
        border: 0px solid;
        background-color: #888;
        transition: background-color .2s ease-in-out;
        color: #fff;
        cursor: pointer;
    }

    button:hover { background-color: #78B354; }
    button:active { background-color: #458021; }

/* DOCUMENT */
    html, body {
        width: 100%;
        height: 100vh;
        background-color: #363636;
    }

    body:not([profile-loaded]) [profile-loaded] {
        display: none !important;
    }

    body[profile-loaded] [profile-unloaded] {
        display: none !important;
    }

/* PRELOADER */
    .loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100vh;
        background-color: #363636;
        opacity: 1;
        z-index: 100000;

        transition: opacity .1s ease;
        pointer-events: all;
    }

    .loader.hide {
        opacity: 0;
        pointer-events: none;
    }

    .loader img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: 30vh;
    }

/* NAVBAR */
    .navbar {
        height: 60px;
        width: 100%;

        border-bottom: 1px solid #444;
        background-color: #333;

        position: relative;
        z-index: 100;
    }

    .navbar::before {
        content: "";
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        box-shadow: 0 0 5px #111;
        pointer-events: none;
    }

    body[fillwindow=true] .navbar {
        display: none;
    }

    .navbar .inner {
        height: 60px;
        max-width: 80vw;
        padding: 0px 2vw;
        margin: 0 auto;
        font-size: 14px;

        display: flex;
        justify-content: space-between;
    }

    .navbar .inner > div {
        display: flex;
        justify-content: space-between;
    }

    .navbar .logo {
        height: 60px;
    }

    .navbar .logo img {
        height: 48px;
        width: 48px;
        margin: 6px 20px 6px 0px;
    }

    .navbar .profile-controls {
        margin: 15px 10px;
        height: 30px;
        border-radius: 15px;
        background: #262626;
        transition: max-width .3s ease;
        overflow: hidden;
        display: flex;
    }

    .navbar .profile-controls i {
        width: 33px;
        height: 30px;
        line-height: 29px;
        text-align: center;

        font-size: 18px;
        margin-right: 5px;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }

    .navbar .profile-controls i:last-child {
        margin-right: 3px;
    }

    .navbar .profile-image {
        width: 60px;
        height: 60px;
    }

    .navbar .profile-image img {
        width: 40px;
        height: 40px;
        padding: 9px;
    }