<view-properties>
    {
        "title": "view.myProfile.title"
    }
</view-properties>

<view-body>
    <script>
        (async function() {
            const userprofile = await profile.info();
            document.querySelector('.username').innerText = userprofile.username;
        })();
    </script>
</view-body>

<view-content>
    <div class="container">
        <h1>This is my profile</h1>
        <p class="username" profile-loaded></p>
        <br><br>
        <p load-lang="en">English</p>
        <br><br>
        <p load-lang="nl">Nederlands</p>
        <br><br>
        <p load-view="profile-selection">Choose Profile</p>
        <br><br>
        <img data-profile="src:localAvatar" profile-loaded height="100">
    </div>
</view-content>