<view-properties>
    {
        "title": "view.profileSelection.title",
        "fillwindow": true
    }
</view-properties>

<view-head>
    <link rel="stylesheet" href="css/profile-selection.css">
</view-head>

<view-body>
    <script src="js/profile-selection.js"></script>
</view-body>

<view-content>
    <div class="container">
        <h1 data-lang="view.profileSelection.title"></h1>
        <div class="profiles">
            <div class="scrollers">
                <div class="left finished"></div>
                <div class="right"></div>
            </div>

            <div class="inner">
                <div class="scrolling"></div>
            </div>
        </div>
        <button class="newProfile" data-lang="view.profileSelection.newProfile"></button>
    </div>
    <div class="switch-manage">
        <i class="fas fa-user-cog"></i>
    </div>
</view-content>