<view-properties>
    {
        "title": "view.signin.title",
        "fillwindow": true
    }
</view-properties>

<view-head>
    <link rel="stylesheet" href="css/signin.css">
</view-head>

<view-body>
    <script src="js/signin.js"></script>
</view-body>

<view-content>
    <div class="container">
        <form form-signin>
            <div class="block-top existing-profile" style="display:none;">
                <div class="image-container">
                    <img src="img/profile/default.png" alt="">
                </div>
                <h1>Username</h1>
            </div>
            
            <div class="block-top new-profile">
                <div class="image-container">
                    <img src="img/leafal/logo.png" alt="">
                </div>
                <input type="text" name="identifier" data-lang="placeholder:view.signin.identifier">
            </div>

            <input type="password" name="password" data-lang="placeholder:view.signin.password">
            <div class="buttons">
                <button type="button" data-lang="view.signin.back" class="button-back" style="display:none;"></button>
                <button data-lang="view.signin.continue"></button>
            </div>
        </form>
    </div>
</view-content>